# extension
.vscode/

# cache or something
Code/Cache/
Code/GPUCache/
Code/Local Storage/
Code/Cookies*
Code/storage.json
Code/Preferences
Code/User/workspaceStorage/
Code/CachedData/
Code/Backups/
Code/machineid

# unneeded plugin or projects file
Code/User/syncSettings.json
Code/User/projects.json
Code/User/vsicones.settings.json
Code/User/vsicons.settings.json

