# extension
.vscode/

# cache or something
Code/Backups/
Code/*storage*
Code/*Cache*
Code/Crashpad
Code/Local Storage/
Code/Cookies*
Code/Preferences
Code/User/workspaceStorage/
Code/logs/
Code/Session Storage/
Code/machineid
Code/User/globalStorage/
Code/Network Persistent State
Code/TransportSecurity
Code/rapid_render.json

# unneeded plugin or projects file
Code/User/syncSettings.json
Code/User/projects.json
Code/User/vsicones.settings.json
Code/User/vsicons.settings.json

