# extension
extensions/
TabNine/

# cache or something
user-data/Backups/
user-data/*storage*
user-data/*Cache*
user-data/Crashpad
user-data/Local State
user-data/Local Storage/
user-data/Cookies*
user-data/Preferences
user-data/User/History/
user-data/User/workspaceStorage/
user-data/logs/
user-data/Session Storage/
user-data/Service Worker/
user-data/machineid
user-data/User/globalStorage/
user-data/Network*
user-data/TransportSecurity
user-data/rapid_render.json
user-data/QuotaManager*

# unneeded plugin or projects file
user-data/User/syncSettings.json
user-data/User/projects.json
user-data/User/vsicones.settings.json
user-data/User/vsicons.settings.json

*.lock
*.db
*.db-journal
